.header {
    background-color: #091e67;
    height: 35px;
}

.header img{
    position: relative;
    padding: 5%;
}

.nav-header {
    display: flex;
    position: relative;
    float: right;
}

.nav-header p {
    color: #fff;
    margin-left: 20px;
}

.row-pesquisa {
    position: relative;
    background-color: #00000042;
    padding: 1%;

}

.input-pesquisa-header{
    align-items: center !important;
    width: 40% !important;
    left: 30%;

}

.row-card-produto{
    padding: 25px;
}

.card-produto{
    padding: 20px;
    border-radius: 15px;
    position: relative;
    background-color: #0000000f;
} 

.card img{
    height: 200px;
    border: 1px solid black;
}

.conteudo-prod{
    display: flex;
    position: relative;
}

.conteudo-prod .card{
    margin-right: 25px;
}

.card-body{
    border: 1px solid black;
}

.card-body p{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.botao-mais-menos{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.botao-mais-menos input{
    width: 50px;
    padding: 0;
}

.content-mais-menos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botao-adicionar{
    border: 1px solid #2757ff;
    border-radius: 10px;
    background-color: #2757ff;
}

.botao-adicionar p{
    color: #fff;
}